body {
	position: fixed;
	margin: 0;
	padding: 0;
	left: 0px;
}

#background {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	z-index: 0;
}

@-webkit-keyframes eye {
	0% {opacity: 1.0;}
	5% {opacity: 0.0;}
	10% {opacity: 0.0;}
	15% {opacity: 0.0;}
    20% {opacity: 0.0;}
    25% {opacity: 0.0;}
    30% {opacity: 0.0;}
    35% {opacity: 0.0;}
	40% {opacity: 0.0;}
	45% {opacity: 0.0;}
    50% {opacity: 0.0;}
    55% {opacity: 0.0;}
    60% {opacity: 0.0;}
	65% {opacity: 0.0;}
	70% {opacity: 0.0;}
	75% {opacity: 0.0;}
	80% {opacity: 0.0;}
	85% {opacity: 0.0;}
	90% {opacity: 0.0;}
	95% {opacity: 0.0;}
    100% {opacity: 0.0;}	

}

#eyelid1 {
	position: absolute;	
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: transparent;
	-webkit-animation-name: eye ;
	-webkit-animation-duration: 10000ms;
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: linear; 
	z-index:2;
}

@-webkit-keyframes eye2 {
	0% {opacity: 0.0;}
	5% {opacity: 0.0;}
	10% {opacity: 0.0;}
	15% {opacity: 0.0;}
    20% {opacity: 0.0;}
    25% {opacity: 0.0;}
    30% {opacity: 1.0;}
    35% {opacity: 0.0;}
	40% {opacity: 0.0;}
	45% {opacity: 0.0;}
    50% {opacity: 0.0;}
    55% {opacity: 0.0;}
    60% {opacity: 0.0;}
	65% {opacity: 0.0;}
	70% {opacity: 0.0;}
	75% {opacity: 0.0;}
	80% {opacity: 0.0;}
	85% {opacity: 0.0;}
	90% {opacity: 0.0;}
	95% {opacity: 0.0;}
    100% {opacity: 0.0;}	
}

#eyelid2 {
	position: absolute;	
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: transparent;
	-webkit-animation-name: eye2 ;
	-webkit-animation-duration: 9000ms;
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: linear; 
	z-index:2;
}

@-webkit-keyframes eye3 {
	0% {opacity: 0.0;}
    0% {opacity: 0.0;}
	5% {opacity: 0.0;}
	10% {opacity: 0.0;}
	15% {opacity: 0.0;}
    20% {opacity: 0.0;}
    25% {opacity: 0.0;}
    30% {opacity: 0.0;}
    35% {opacity: 0.0;}
	40% {opacity: 0.0;}
	45% {opacity: 0.0;}
    50% {opacity: 0.0;}
    55% {opacity: 0.0;}
    60% {opacity: 1.0;}
	65% {opacity: 0.0;}
	70% {opacity: 0.0;}
	75% {opacity: 0.0;}
	80% {opacity: 0.0;}
	85% {opacity: 0.0;}
	90% {opacity: 0.0;}
	95% {opacity: 0.0;}
    100% {opacity: 0.0;}	
}

#eyelid3 {
	position: absolute;	
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: transparent;
	-webkit-animation-name: eye3 ;
	-webkit-animation-duration: 9000ms;
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: linear; 
	z-index:2;
}

@-webkit-keyframes eye4 {
	0% {opacity: 0.0;}
    10% {opacity: 0.0;}
    20% {opacity: 0.0;}
	30% {opacity: 0.0;}
	40% {opacity: 1.0;}
	50% {opacity: 0.0;}
	60% {opacity: 0.0;}
	70% {opacity: 0.0;}
	80% {opacity: 0.0;}
	90% {opacity: 0.0;}
	100% {opacity: 0.0;}	
}

#eyelid4 {
	position: absolute;	
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: transparent;
	-webkit-animation-name: eye4 ;
	-webkit-animation-duration: 9000ms;
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: linear; 
	z-index:2;
}

@-webkit-keyframes eye5 {
    0% {opacity: 0.0;}
	5% {opacity: 0.0;}
	10% {opacity: 0.0;}
	15% {opacity: 0.0;}
    20% {opacity: 0.0;}
    25% {opacity: 0.0;}
    30% {opacity: 0.0;}
    35% {opacity: 0.0;}
	40% {opacity: 0.0;}
	45% {opacity: 0.0;}
    50% {opacity: 0.0;}
    55% {opacity: 0.0;}
    60% {opacity: 0.0;}
	65% {opacity: 0.0;}
	70% {opacity: 0.0;}
	75% {opacity: 1.0;}
	80% {opacity: 0.0;}
	85% {opacity: 0.0;}
	90% {opacity: 0.0;}
	95% {opacity: 0.0;}
    100% {opacity: 0.0;}
}
        
#eyelid5 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: transparent;
	-webkit-animation-name: eye5 ;
	-webkit-animation-duration: 8000ms;
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: linear; 
	z-index:2;
}

@-webkit-keyframes eye6 {
	0% {opacity: 0.0;}
	5% {opacity: 0.0;}
	10% {opacity: 0.0;}
	15% {opacity: 0.0;}
    20% {opacity: 0.0;}
    25% {opacity: 0.0;}
    30% {opacity: 0.0;}
    35% {opacity: 0.0;}
	40% {opacity: 0.0;}
	45% {opacity: 0.0;}
    50% {opacity: 0.0;}
    55% {opacity: 0.0;}
    60% {opacity: 0.0;}
	65% {opacity: 0.0;}
	70% {opacity: 0.0;}
	75% {opacity: 0.0;}
	80% {opacity: 0.0;}
	85% {opacity: 0.0;}
	90% {opacity: 1.0;}
	95% {opacity: 0.0;}
    100% {opacity: 0.0;}	

}

#eyelid6 {
	position: absolute;		
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: transparent;
	-webkit-animation-name: eye6 ;
	-webkit-animation-duration: 9000ms;
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: linear; 
	z-index:2;
}

@-webkit-keyframes eye7 {
	0% {opacity: 0.0;}
	5% {opacity: 0.0;}
	10% {opacity: 0.0;}
	15% {opacity: 1.0;}
    20% {opacity: 0.0;}
    25% {opacity: 0.0;}
    30% {opacity: 0.0;}
    35% {opacity: 0.0;}
	40% {opacity: 0.0;}
	45% {opacity: 0.0;}
    50% {opacity: 0.0;}
    55% {opacity: 0.0;}
    60% {opacity: 0.0;}
	65% {opacity: 0.0;}
	70% {opacity: 0.0;}
	75% {opacity: 0.0;}
	80% {opacity: 0.0;}
	85% {opacity: 0.0;}
	90% {opacity: 0.0;}
	95% {opacity: 0.0;}
    100% {opacity: 0.0;}	
}

#eyelid7 {
	position: absolute;	
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background-color: transparent;
	-webkit-animation-name: eye7 ;
	-webkit-animation-duration: 9000ms;
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: linear; 
	z-index:2;
}