body {
      margin:0;
      padding:0;
      font-weight:100;
      text-transform:capitalize;
      font-family: ModeG;
      color:#ffffff;
      letter-spacing:0;
}

@font-face{
      font-family: Nervous;
      src:url(Stuff/Nervous.ttf);
}

@font-face{
      font-family: gitchgitch;
      src:url(Stuff/gitchgitch.otf);
}

@font-face{
      font-family: MinnimallissticFont;
      src:url(Stuff/MinnimallissticFont.ttf);
}

@font-face{
      font-family: ModeG;
      src:url(Stuff/ModeG.ttf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
}

#month{
      position:absolute; top:50%; left:24%; width:100%; text-align:left; z-index:0;
      font-size:4vmin; font-family:; text-transform:lowercase;
}

#R1{
       position:absolute; top:51.5%; left:39%; width:2%; height:1%; z-index:-60;
       background-color:#f09819;
       box-shadow:1px 0px 0px rgba(0,0,0,0.15);
       border-radius: 5px;     
      
}

#date{
      position:absolute; top:50%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:4vmin; letter-spacing:0;
}

#R2{
     position:absolute; top:51.5%; right:39%; width:2%; height:1%; z-index:-60;
       background-color:#f09819;
       box-shadow:1px 0px 0px rgba(0,0,0,0.15);
       border-radius: 5px;       
}

#year{
      position:absolute; top:50%; right:24%; width:100%; text-align:right; z-index:50;
      font-size:4vmin; letter-spacing:0;
}
  
#weekday{
      position:absolute; top:27.8%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:34vmin; letter-spacing:-8;
      opacity:0.1; font-family: Nervous; text-transform:uppercase;

}

#text0{
      position:absolute; top:30%; left:17%; width:100%; text-align:left; z-index:50;
      font-size:14vmin; letter-spacing:0;                      
      font-family: MinnimallissticFont;
      background: linear-gradient(to top, #f09819, #edde5d);
   -webkit-background-clip: text!important;
   -webkit-text-fill-color: transparent!important;

}

#text{
      position:absolute; top:30%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:14vmin; letter-spacing:-1; font-family: MinnimallissticFont;
}


#text1{
      position:absolute; top:36%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:20vmin; letter-spacing:2; font-family: MinnimallissticFont;
}
