body{
      margin:0;
      padding:0;
      font-weight:100;
      text-shadow:1px 1px 1px rgba(45,45,45,0.3);
      font-family:med;
      color:#f3f3f3;
      letter-spacing:1;
}

@font-face{
      font-family:med;
      src:url(Stuff/med.ttf);
}
@font-face{
      font-family:bold;
      src:url(Stuff/bold.otf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
      font-size:375px;
}

#Clock{
       position:absolute; top:13%; left:10%; width:100%; text-align:left; z-index:50;
       font-size:8%; font-family:bold; letter-spacing:2;
}
#ampm{font-size:50%; text-transform:uppercase;}


#Cal{
       position:absolute; top:14%; left:-10%; width:100%; text-align:right; z-index:50;
       font-size:5.5%; 
}

#Line1{
       position:absolute; top:21%; left:15%; width:70%; text-align:center; z-index:50;
       font-size:4%;
}
#city,#temp,#tempunit{font-family:bold; text-transform:capitalize; font-size:112.5%;}
#desc{font-family:bold; text-transform:lowercase; font-size:112.5%;}

#Line2{
       position:absolute; top:28%; left:15%; width:70%; text-align:center; z-index:50;
       font-size:4%;
}
#lowtemp,#hightemp,#tempunit1,#tempunit2{font-family:bold; text-transform:uppercase; font-size:112.5%;}


