node_modules
.git
logs
*.bak
*.tmp
*.swp
.packages
.cache
*.backups
.docker
config.js
.env.local
migrations
.n8nqueues
_.n8nexecs
files
ssl
docker-compose.override.yml
.docker/
.__CACHES__/.METADATA.json
.__CACHES__/tmp*.json
.__CACHES__/tmp*.csv
.__CACHES__/tmp.secret*.key
.__CACHES__/tmp.secret*.pem

