body{
	margin:0;
	padding:0;
	font-weight:100;
	
	font-family:Heathergreen;
	text-transform:uppercase;
	color:#f7f7f7;
	letter-spacing:4;
}

@font-face{
      font-family:Empires;
      src:url(Stuff/Empires.otf);
}

@font-face{
      font-family:Heathergreen;
      src:url(Stuff/Heathergreen.otf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
      font-size:375px;
}

#weekday{
       position:absolute; top:35%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:22%; font-family:Empires; letter-spacing:-2; text-transform:lowercase;
       background: linear-gradient(to left, #f857a6, #ff5858);
   -webkit-background-clip: text!important;
   -webkit-text-fill-color: transparent!important;
}

#weekday1{
       position:absolute; top:39%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:17%; font-family:Empires; letter-spacing:0; text-transform:lowercase;
       color:#808080; opacity: 0.2;     
}

#weekday2{
       position:absolute; top:33%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:22%; font-family:Empires; letter-spacing:4; text-transform:lowercase;
       color:#808080; opacity: 0.5;     
}

#Time{
    position:absolute; top:330px; left:0px; width:375px; text-align:center; z-index:50;
    font-size:13px;
}
#ampm{text-transform:uppercase;}

#L{
	position:absolute; top:240px; left:0px; width:100px;	background-color:#f3f3f3;
}
