body{
      margin:0;
      padding:0;
      font-weight:100;
      font-family: Quote;
      text-transform:capitalize;
      color:#f3f3f3;
      letter-spacing:1;
}

@font-face{
      font-family: Quote;
      src:url(Stuff/Quote.ttf);
}

@font-face{
      font-family:Millanova;
      src:url(Stuff/Millanova.ttf);
}

@font-face{
      font-family:Heathergreen;
      src:url(Stuff/Heathergreen.otf);
}

#Widget{
    position:absolute; top:0px; left:0px; width:230px; height:667px;
    font-size:375px;
}

#month{
       position:absolute; top:5%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:14%; font-family:Millanova; letter-spacing:-2; opacity:; text-transform:capitalize;
       background: linear-gradient(to right, #fe9670, #ff6699);
   -webkit-background-clip: text!important;
   -webkit-text-fill-color: transparent!important;     
}

#Cal{
       position:absolute; top:21.5%; left:15%; width:100%; text-align:left; z-index:50;
       font-size:4%; 
       font-family:;
       letter-spacing:
       color:#;
}

#Weather{
       position:absolute; top:25%; left:15%; width:100%; text-align:left; z-index:50;
       font-size:4%; font-family:;
}

#Clock{
       position:absolute; top:29%; left:15%; width:100%; text-align:left; z-index:50;
       font-size:4%; font-family:; letter-spacing:; color:#;
}
#ampm{
       position:absolute; top:29.2%; right:35%; width:100%; text-align:right; z-index:50;
       font-size:0%; font-family:; letter-spacing:; color:#;
}



