body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    position: relative;
    width: 30%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover .gallery-img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
