body {
	margin:0;
	padding:0;
	font-weight:100;
    text-transform:uppercase;
	font-family: CuteFont-Regular;
	color:#f3f3f3;
	
}

@font-face{
	font-family: Techno Various;
	src:url(Stuff/TechnoVarious-Bold.woff);
}

@font-face{
	font-family: CuteFont-Regular;
	src:url(Stuff/CuteFont-Regular.ttf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
      font-size:375px;
}

#Weekday{
       position:absolute; top:22%; left:14%; width:100%; text-align:left; z-index:50;
       font-size:20%; letter-spacing:-1; font-family: Techno Various; text-transform:lowercase;
}


#Cal{
    position:absolute; top:37%; left:16%; width:100%; text-align:left; z-index:50;
    font-size:6%; color:#8a8a8a;
}

#Line{
       position:absolute; top:37.9%; left:34%; width:.6%; height:2.4%; z-index:-60;
       background-color:#8a8a8a;
       box-shadow:0px 0px 0px rgba(0,0,0,0.15);
       border-radius: 5px;     
      
}

#Clock{
    position:absolute; top:37%; left:39.3%; width:100%; text-align:left; z-index:50;
    font-size:6%; color:#8a8a8a;
}

#Heart{
    position:absolute; top:43.2%; left:15.2%; width:4.3%; text-align:center; z-index:0;
   
}

#Battery{
    position:absolute; top:42%; left:23%; width:100%; text-align:left; z-index:50;
    font-size:6%;  
}



