body{
	margin: 0;
	padding: 0;
        font-weight:100;
        font-family:Bold;
        color: #fff;
        text-transform:uppercase;
}


@font-face {
	font-family: Bold;
	src: url(Images/Bold.ttf);
}

@font-face {
	font-family: Lite;
	src: url(Images/Lite.ttf);
}

#circle{display:none;
	top:137px; left:156.5px;position:absolute; width:5px;height:5px;border-radius:100px;background-color:#fff;border:1px solid black; z-index:800;}

#Clock{
       position:absolute; top:349px; left:72px; width:320px; height:50px; text-align:left; z-index:50;
       font-size:8px;
}

#hour{
       position:absolute; top:340px; left:72px; width:320px; height:50px; text-align:left; z-index:50;
       font-size:8px;
       
}

#Widget{
       position:absolute; top:362px; left:45px; width:320px; height:24px; text-align:left; z-index:50;
       font-size:22px;
       font-family:Lite;
       -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(transparent), color-stop(0.4, #666));
}
#LevelDisplay{
       position:absolute; top:400px; left:46px; width:320px; height:50px; text-align:left; z-index:50;
       font-size:8px;

}

#Calendar{
       position:absolute; top:388px; left:46px; width:320px; height:50px; text-align:left; z-index:50;
       font-size:8px;

}

#weatherIcon{position:relative; top:3px; width:18px; border-radius:50px;z-index:500;}
#BatteryImage{
display:normal;
position: absolute;
top: 399px;
left: 70px;
width: 36px;
height: 13px;
z-index:100;
}