body{
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
    height:100%;
	font-family: 'def';
	color: rgba(249,245,246,1.00);
	
}
#Overlay {
	position: absolute; 
	top: 0%;
	background: url('../images/overlay.png') center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#time{
	position: absolute;
	top: 10%;
	left: 22%;
	width: 100%;
	font-family: 'def1';
	text-align: center;
	font-size: 22vw;
	text-transform:uppercase;
	color:#85744c; 
	text-align:center; 
	-webkit-text-stroke-width:0.5px; 
	-webkit-text-stroke-color:black;
	z-index: 0;
}
#time1{
    position: absolute;
	top: 10%;
	left: 22.75%;
	width: 100%;
	font-family: 'def1';
	text-align: center;
	font-size: 22vw;
	text-transform:uppercase; 
	color:#42bf55; text-align:center; text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    z-index: -1;
}
#date{
	position: absolute;
	top: 6.5%;
	left: 22%;
	width: 100%;
	text-align: center;
	font-size: 6vw;
	color:#574b55; text-transform:capitalize; -webkit-text-stroke-width:0.5px; -webkit-text-stroke-color:black;
	z-index: 1;
}
#weekday{
    position: absolute;
    top: 1%;
    left: 22%;
    width: 100%;
    text-align: center;
	color:#676b83; text-transform:capitalize; -webkit-text-stroke-width:1px; -webkit-text-stroke-color:#2c3344;
    font-size: 11vw;
    z-index: 0;
}
#temp {
	position: absolute;
	top: 4%;
	right: 77%;
	width: 100%;
	text-align: right;
	font-size: 6vw;
	text-transform:capitalize; 
	color:#2c3344;
	z-index: 2;
}
#icon {
	position: absolute;
	top: 0%;
	left: 3%;
	width: 35%;
	z-index: 0;
}	

@font-face {
	font-family: 'def';
	src: url('../Fonts/Yikes.ttf');
}
@font-face {
	font-family: 'def1';
	src: url('../Fonts/Yikes.ttf');
}

