body{
      margin:0;
      padding:0;
      font-weight:100;
      font-family: OdinBold-MRzP;
      text-transform:uppercase;
      color:#51627f;
      letter-spacing:;
      
      
}

@font-face{
      font-family: OdinBold-MRzP;
      src:url(Stuff/OdinBold-MRzP.otf);
}


#Widget{
    position:absolute; top:0px; left:0px; width:230px; height:667px;
    font-size:375px;
}


#hello{
    position:absolute; top:57.8%; left:38%; width:95%; text-align:center; z-index:0;
   
}

#Dot{
       position:absolute; top:71%; left:64%; width:3.8%; height:1.2%; z-index:-60;
       background-color:#a4d5fe;
       box-shadow:0px 0px 0px rgba(0,0,0,0.15);
       border-radius: 5px;     
      
}


#Weekday{
       position:absolute; top:70.5%; left:72%; width:160%; text-align:left; z-index:50; font-size:3.4%; color:#51627f;
       
       
       
}
#Cal{
       position:absolute; top:70.5%; left:42%; width:160%; text-align:left; z-index:50; font-size:3.4%; color:#51627f;
        
       
       
}

#Weather{
       position:absolute; top:73.5%; left:42%; width:160%; text-align:left; z-index:50; font-size:3.4%; color:#51627f;
       
}

#Location{
       position:absolute; top:76%; left:42%; width:160%; text-align:left; z-index:50; font-size:3.4%; color:#51627f;
       
}

#Clock{
       position:absolute; top:78.5%; left:42%; width:160%; text-align:left; z-index:50; font-size:0%; color:#51627f;
       
}



