body {
	margin: 0;
	padding: 0;
	font-weight:100;
	font-family: T;
      color:#000;
      text-transform:uppercase;
}

@font-face {
	font-family: B;
	src: url(Images/B.ttf);
}

@font-face {
	font-family: T;
	src: url(Images/T.otf);
}

#weekday{ 
       position:absolute; top:150px; left:88px; width:320px; height:50px; text-align:left; z-index:10;
       font-size:30px;font-family:B;
}

#t{text-transform:capitalize;}
#b{text-transform:capitalize;}
#c{text-transform:capitalize;}

#words{ 
       position:absolute; top:185px; left:88px; width:320px; height:50px; text-align:left; z-index:10;
       font-size:8px;text-transform:capitalize;
}

#greet{ 
       position:absolute; top:540px; left:50px; width:220px; height:50px; text-align:center; z-index:10;
       font-size:10px;text-transform:uppercase;
}

#Weather{ 
       position:absolute; top:555px; left:50px; width:220px; height:50px; text-align:center; z-index:10;
       font-size:8px;text-transform:lowercase;
}

#weatherIcon{
        position:absolute; top:158px;left:241px;width:28px;z-index:50;}

#BatteryImage{position:absolute; top:325px;left:28px;width:20px; z-index:100;opacity:.5;display:none;}

#vl{ display:none;
       position:absolute; top:325px; left:56px; width:1.2px; height:115px;background-color:#666; z-index:0;
       
}

#fb{ 
       position:absolute; top:293px; left:105px; width:220px; height:50px; text-align:left; z-index:10;
       font-size:14px;text-transform:capitalize;
}

#fb1{ 
       position:absolute; top:309px; left:105px; width:220px; height:50px; text-align:left; z-index:10;
       font-size:8px;text-transform:capitalize;
}

#in{ 
       position:absolute; top:373px; left:105px; width:220px; height:50px; text-align:left; z-index:10;
       font-size:14px;text-transform:capitalize;
}

#in1{ 
       position:absolute; top:389px; left:105px; width:220px; height:50px; text-align:left; z-index:10;
       font-size:8px;text-transform:capitalize;
}

#tw{ 
       position:absolute; top:453px; left:105px; width:220px; height:50px; text-align:left; z-index:10;
       font-size:14px;text-transform:capitalize;
}

#tw1{ 
       position:absolute; top:469px; left:105px; width:220px; height:50px; text-align:left; z-index:10;
       font-size:8px;text-transform:capitalize;
}