       
        * {padding: 0; margin: 0;}
        body{ background: -webkit-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* Chrome 10+, Saf5.1+ */ background: -moz-linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* FF3.6+ */ background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%); /* W3C */ }
         .flex-container  {
           display: flex;
           justify-content: space-between;
           align-items: center;
               background: black;
         }
 
 .container p:first-child:first-letter {
   color: #ff0055;
   font-weight: bold;
   font-size: 15vw;
   float: left;
   line-height: 75px;
   padding-right: 3px;
   margin-top: 8px;
 }
 
         .logo {
           margin: 0 0 0 .45em;
         }
             .logo a {
               color: red;
               font-variant: small-caps;
               font-size: 5vw;
               
             }
         
             .logo, .navigation {
                 list-style: none;
                 text-transform: ;
             }
         
             .logo a, .navigation a {
                 text-decoration: none;
                 letter-spacing: .45rem;
             }
         
         .navigation  {
           display: flex;
         }
         
         .navigation a {
           display: block;
           padding: 1em;
           color: white;
         }
         
         .navigation a:hover {
             background: red;
           
         }
         
         /* *********** media queries *********** */
         @media all and (max-width: 990px) {
           .flex-container {
             flex-direction: column;
           }
           
           .logo {
           margin: 0;
         }
           
           .navigation  {
             width: 100%;
             justify-content: space-around;
           }
         }
         
         
         /* ****** ****** */
         @media all and (max-width: 600px) {
          
           .logo {
             margin: .25em 0;
             align-self: left; /* align the logo to the left side of 'flex-container' */
         }
           
           .navigation {
             flex-direction: column;
           }
           
           .navigation a { 
             text-align: center; 
             padding: 10px;
             border-top: 1px solid rgba(255,255,255,0.3); 
             border-bottom: 1px solid rgba(0,0,0,0.1); 
           }
           
           .navigation li:last-of-type a {
             border-bottom: none;
           }
         }
         .content {
     padding: 20px;
 }
 
 .article-image {
     float: left;
     width: 250px;
     height: 250px;
     margin-right: 20px;
     margin-bottom: 20px;
 }
 main{
     font-size: 2vw;
 }
 p {
     margin-bottom: 20px;
     letter-spacing: 0.3px;
   word-spacing: 1px;
     
 }
 h2 {color: rgb(245, 245, 245);
     font-size: 3vw;
 text-shadow: 2px 2px 4px #000;}
 
 .footer{position: fixed;
 left: 0;
 bottom: 0;
 font-size: 2vw;
 height: 40px;
 width: 100%;
 background-color: black;
 color:yellow;
 text-align: center;}