.container{
	border: 2px solid;
}
body{
	background-color: #6a6a6a;
}
.responsive {width:100%;
	max-width: 350px;
height:auto;
}
.flex-navbar {
	background-color: black;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	padding: 2px 10px;
	display: flex;
	align-items: center;
  }
  
  .flex-navbar .items.items-right {
	margin-left: auto;
  }
  
  
  .flex-navbar .brand {
	color: #F9690E;
	font-size: 1.45em;
  }
  .flex-navbar ul.items {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
	  font-size: .99em;
	text-transform: uppercase;
  }
  
  .flex-navbar > ul.items li.item {
	margin: 0 15px;
  }
  
  .flex-navbar > ul.items li.item a {
	text-decoration: none;
	color: #ffffff;
  }
  
  .flex-navbar > ul.items li.item a:hover {
	color: red;
  }
  /* Menu Dropdown! please use div */
.dropdown{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; /* or column */
    /* put the height and width here! */
}
.dropdown > .dropdown-title{
    width: 100%;
    height: 100%;
}
.dropdown > .dropdown-sub{
    display: none;
    z-index: 1;
    flex-direction: column; /* or row */
    /* width: 100%; */
}
.dropdown:hover > .dropdown-sub {
    display: flex;
}.dropdown:hover > .dropdown-sub  > .dropdown-option:hover{
    /* background-color: #abcdef; */
}
  @media only screen and (max-width: 900px) {
	.flex-navbar {
	  flex-direction: column;
	}
	@media only screen and (max-width: 767px) {
		.flex-navbar {
		  flex-direction: column;
		}
		@media only screen and (max-width: 479px) {
			.flex-navbar {
			  flex-direction: column;
			}
				
	.flex-navbar ul.items {
	  flex-direction: column;
	}
	
	.flex-navbar ul.items.items-right {
	  margin-left: initial;
	}
	
	.flex-navbar > ul.items li.item {
	  margin: 15px 15px;
	}
}
p {
	font-weight: bold;
		text-shadow: 2px 2px 8px grey;
	  }h1 {
		color: white;
		text-shadow: 2px 2px 4px #000000;
	  }h2,h3, p {
        margin: 0;
        padding: 0;
    }
    h3{text-shadow: 2px 2px 4px #000000;}
    
/* Section */
section {
	width: 72.5%;                       /* 580 / 800 x 100 */
	padding: 1.25em 5% 1.25em 2.5%;     /* top and bottom: 20 / 16; right: 40 / 800 x 100; left: 20 / 800 x 100 */
	float: right;
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h1:first-letter { 
	font-size: 240%;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: rgb(10, 135, 189);
}
section a:link, main a:visited { 
    color: orange; 
}
section a:hover, main a:focus { 
    color: green;
}
section img {
	width: 30%;
	max-width: 150px;
}

/* Footer */
footer { 
	clear: both;
	padding: .9375em 1.875%;       background: radial-gradient(circle, #a200ff 0%, #17ccf0 100%);
    height: auto;
	width: auto;
}

footer p {
	font-size: 90%;
	text-align: center;
	color: yellow;
}

#mobile_menu {
	display: none;
}

@media only screen and (max-width: 900px) {
	html {
		background-color: grey;
	}
	body {
		font-size: 90%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 767px) {
	html {
		background-color: grey;
	}
	@media only screen and (max-width: 767px) {
		html {
			background-color: grey;
		}
		@media only screen and (max-width: 767px) {
			html {
				background-color: grey;
			}
			@media only screen and (max-width: 479px) {
				html {
					background-color: grey;
				}
	