*<!-- Steven Chaplinski
Many days at least a week of tweaking and then a rework on 9-19-2022 to Start piecing together my Final Project 0/25/2022.
Main site with Creepster Font and redirect Under Construction Artwork I made-->*/
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");


body  {

	display: flex;
	max-width: 960px;
	                        /* fixed width was 800 */
	background-color: #ffffff;
	margin: auto; 
	justify-content: center;
	border: 3px solid black;
	box-shadow:  9px 18px 9px;
}


	  h1 {
		color: white;
		text-shadow: 2px 2px 4px #000000;
	  }
h2,h3, p {
	margin: 0;
	padding: 0;font-weight: bold;
	text-shadow: 2px 2px 8px grey;
}

/* Header */
main {
	background-color: #6a6a6a;
    height: auto;
	width: auto;
}