body {
	margin:0;
	padding:0;
	text-shadow:1px 1px 1px rgba(32,32,32,0.2);
	font-weight:100;
    text-transform:capitalize;
	font-family:bold;
	color:#f3f3f3;
	letter-spacing:1;
}

@font-face{
	font-family:oneday;
	src:url(Stuff/ONEDAY.ttf);
}
@font-face{
	font-family:bold;
	src:url(Stuff/Bold.otf);
}
#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
      font-size:375px; background-color:none;
}

#Clock{
       position:absolute; top:10.5%; right:10.5%; width:100%; text-align:right; z-index:80;
       font-size:6%; text-transform:lowercase;
       -webkit-text-stroke: 1.5px #666;
}


#weekday{
       position:absolute; top:12.5%; right:10.5%; width:100%; text-align:right; z-index:50;
       font-size:8.5%; font-family:oneday; letter-spacing:2;
}

#Box{
       position:absolute; top:18%; left:10%; width:80%; height:65%; z-index:0;
       background:rgba(45,45,45,0.15);
       border-radius:16px;
       box-shadow:0px 0px 5px 4px rgba(20,20,20,0.6) inset;
}

