body{
      margin:0;
      padding:0;
      font-weight:100;
      font-family: Hero-Bold;
      text-transform:capitalize;
      color:#f3f3f3;
      letter-spacing:0;
}

@font-face{
      font-family: Strong Boyz;
      src:url(Stuff/Strong Boyz.ttf);
}

@font-face{
      font-family: Hero-Bold;
      src:url(Stuff/Hero-Bold.ttf);
}

@font-face{
      font-family: Hero-Light;
      src:url(Stuff/Hero-Light.ttf);
}

#Widget{
    position:absolute; top:0px; left:0px; width:230px; height:667px;
    font-size:375px;
}


#hello{
    position:absolute; top:28%; left:37%; width:85%; text-align:center; z-index:0;
   
}

#box{
    position:absolute; top:57%; left:70%; width:20%; text-align:center; z-index:0;
   
}

#Cal{
       position:absolute; top:50%; left:0%; width:160%; text-align:center; z-index:50;
       font-size:4.2%; 
       font-family: Hero-Bold;
       letter-spacing:;
       color:#;
}

#Weather{
       position:absolute; top:45%; left:0%; width:160%; text-align:center; z-index:50;
       font-size:4.2%; font-family: Hero-Light;
}

#Clock{
       position:absolute; top:62%; left:50%; width:160%; text-align:left; z-index:50;
       font-size:0%; font-family:; letter-spacing:;
}
}



