body{
      margin:0;
      padding:0;
      font-weight:100;
      font-family: OdinBold-MRzP;
      text-transform:uppercase;
      color:#f3f3f3;
      letter-spacing:;
}

@font-face{
      font-family: OdinBold-MRzP;
      src:url(Stuff/OdinBold-MRzP.otf);
}

@font-face{
      font-family: OdinRoundedLight-Bgyw;
      src:url(Stuff/OdinRoundedLight-Bgyw.ttf);
}

@font-face{
      font-family: KestoyRock-2wmo;
      src:url(Stuff/KestoyRock-2wmo.ttf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
      font-size:375px; background-color:none;
}

#text3{
       position:absolute; top:0%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:28%; font-family: KestoyRock-2wmo; text-transform:lowercase;
opacity:0.06;

}

#text2{
       position:absolute; top:6%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:28%; font-family: KestoyRock-2wmo; text-transform:lowercase;
opacity:; 
background: linear-gradient(to right, #24c6dc, #00d2ff, #833ab4);
   -webkit-background-clip: text!important;
   -webkit-text-fill-color: transparent!important;

}

#text1{
       position:absolute; top:18%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:28%; font-family: KestoyRock-2wmo; text-transform:lowercase;
opacity:0.03;

}

#text{
       position:absolute; top:12%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:26%; font-family: KestoyRock-2wmo; text-transform:lowercase;
opacity: 0.04;
}

#Clock{
      position:absolute; top:22%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:4%; letter-spacing:; font-family: OdinBold-MRzP; text-transform:uppercase;
}

#minute{color:#00c9ff; 
}

#Cal{
      position:absolute; top:26%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:4%; letter-spacing:; font-family: OdinRoundedLight-Bgyw; text-transform:uppercase;
}

#date{color:#00c9ff; 
}

#Weather{
      position:absolute; top:30%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:4%; font-family: OdinBold-MRzP; transform:uppercase;
}

#temp{color:#00c9ff; 
}

#weatherIcon{
      position:absolute; top:35%; left:46%; width:12%; z-index:50;
      -webkit-filter: opacity(0%);
 }


