body{
      margin:0;
      padding:0;
      font-weight:100;
      font-family:long;
      text-transform:uppercase;
      color:#f3f3f3;
      letter-spacing:2;
}

@font-face{
      font-family:long;
      src:url(Stuff/Bold.otf);
}
@font-face{
      font-family:Bodrum;
      src:url(Stuff/Bodrum.ttf);
}
@font-face{
      font-family:Empires;
      src:url(Stuff/Empires.otf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px; font-size:375px;
}

#CalWidget{
      position:absolute; top:0px; left:0px; width:375px; height:667px; font-size:375px;
text-align:center;
}

#Clock{
      position:absolute; top:63%; left:25%; width:100%; text-align:left; z-index:50;
      font-size:3.2vmin; font-family:long;
}
#ampm{font-size:3.2vmin;
}

#time{
    position:absolute; top:63.4%; left:20%; width:1.5%; text-align:center; z-index:0;
    font-size:3vmin; 
}

#calendar{
    position:absolute; top:66.5%; left:20%; width:1.5%; text-align:center; z-index:0;
    font-size:3vmin; 
}

#climate{
    position:absolute; top:69.4%; left:20%; width:1.6%; text-align:center; z-index:0;
    font-size:3vmin; 
}

#pin{
    position:absolute; top:72.3%; left:20%; width:1.8%; text-align:center; z-index:0;
    font-size:3vmin; 
}

#Weekday1{
       position:absolute; top:40%; left:0%; width:100%; text-align:center; z-index:50;
       font-size: 20vmin; font-family: Empires;
opacity:0.2; text-transform:lowercase;
}

#Weekday{
       position:absolute; top:39%; left:0%; width:100%; text-align:center; z-index:50;
       font-size: 22vmin; font-family: Empires;
letter-spacing:-2; text-transform:lowercase;
       background: linear-gradient(to top left, #855ec2, #d65db1, #fe6f91, #fe9670, #fec75f);
   -webkit-background-clip: text!important;
   -webkit-text-fill-color: transparent!important;
}

#Cal{
       position:absolute; top:66%; left:25%; width:100%; text-align:left; z-index:50;
       font-size:3.2vmin; font-family:;
}

#Weather{
       position:absolute; top:68.6%; left:25%; width:100%; text-align:left; z-index:50;
       font-size:3.2vmin;
}

#Location{
      position:absolute; top:72%; left:25%; width:100%; text-align:left; z-index:50;
       font-size:3.2vmin; font-family:;
}

#week{
    position:absolute; top:45%; width:100%; left:16%; text-align:center; z-index:50;
    text-transform:uppercase; font-family: Bodrum;
}

td.days{
  position:relative; top:180;
  height:20;
  width:35;
  font-size: 4vmin;
  text-align:center;
  color:#f5f5f5;
  font-weight:100;
  letter-spacing:1.5;
  opacity:0.1;
}
td.days_s{
  position:relative; top:180;
  height:20;
  width:35;
  font-size:4vmin;
  text-align:center;
  background: linear-gradient(to top left, #ffe5f4, #ffabd9, #ff8acb, #ff54b3, #ff2fa2);
   -webkit-background-clip: text!important;
   -webkit-text-fill-color: transparent!important;
  text-decoration-:underline;
  font-weight:100;
  padding-top:1.5%;
  letter-spacing:1.5;
}

td.numbers_days{display:none;}
td.numbers_days_s{display:none;}
td.clock{display:none;}
td.second{display:none;}
td.month{display:none;}
td.year{display:none;}
