body {
    margin: 0 auto;
    padding: 0;
    background: #000000;
}

.left {
    left: 25px;
}

.right {
    right: 25px;
}

.center {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 25px;
}

#gradient {
    background: #999955;
    background-image: linear-gradient(#dab046 20%, #d73b25 20%, #d73b25 40%, #c71b25 40%, #c71b25 60%, #961a39 60%, #961a39 80%, #601035 80%);
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    height: 150px;
}

#gradient:after {
    content: "";
    position: absolute;
    background: #e9e2d0;
    left: 50%;
    margin-top: -67.5px;
    margin-left: -270px;
    padding-left: 20px;
    border-radius: 5px;
    width: 520px;
    height: 400px;
    z-index: -1;
}

#card {
    position: absolute;
    width: 450px;
    height: 350px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    left: 50%;
    top: 67.5px;
    margin-left: -250px;
    background: #e9e2d0;
    box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    z-index: 5;
}

#card img {
    width: 150px;
    height: 150px;
    float: left;
    margin: 11px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 7px;
    box-shadow: 1px 0px 2px;
}

#card h2 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 1);
    text-align: center;
    margin: 10pt auto;
    padding: 0;
    padding-top: 8pt;
    font-size: 25pt;
}

#card p {
    font-family: 'Oswald', sans-serif;
    color: #000000;
    text-shadow: 2px 0px 5px rgb(139, 139, 139);
    text-align: center;
    margin: 10pt auto;
    font-size: 13px;
}

#card span {
    font-family: courier;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.contents {
    margin: 100px 0 0 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactForm {
    margin-top: 20px;
    width: 100%;
}

#contactForm label {
    display: block;
    margin: 10px 0 5px;
}

#contactForm input, #contactForm textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm button {
    padding: 10px 20px;
    background-color: #d73b25;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #c71b25;
}
