body{
      margin:0;
      padding:0;
      font-weight:100;
      text-shadow:0px 1px 1px rgba(0,0,0,0.2);
      font-family:agenda;
      text-transform:uppercase;
      color:#f3f3f3;
      letter-spacing:1.6;
}

@font-face{
      font-family:agenda;
      src:url(Stuff/Agenda.ttf);
}
@font-face{
      font-family:master;
      src:url(Stuff/master.ttf);
}

#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
      font-size:375px;
}

#Overlay{
      position:absolute; top:0%; left:0%; width:100%; height:40%; z-index:0;
      background-color:#4f4f4f;
      opacity:0.4;
}

#Clock{
      position:absolute; top:13%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:14%; font-family:master; letter-spacing:1.5; text-transform:lowercase;
      line-height:200%;
}

#Cal{
      position:absolute; top:11%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:4%;
}

#Weather{
      position:absolute; top:26%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:4%;
}

#BatteryLevel{
      position:absolute; top:41%; left:0%; width:100%; text-align:center; z-index:50;
      font-size:3%;
}

#iconR{
      position:absolute; top:40%; left:0%; width:100%; height:90%; z-index:0;
      background-color:#222;
      opacity:0.95;
      box-shadow:0px -1px 20px rgba(0,0,0, 0.6);
}
#batteryR{
      position:absolute; top:40%; left:0%; width:100%; height:3.5%; z-index:0;
      background-color:none;
      border-top:solid 1px rgba(238,238,238,0.8);
      border-bottom:solid 1px rgba(238,238,238,0.8);
}
