body{
      margin:0;
      padding:0;
      font-weight:100;
      font-family: Yikes_medium;
      text-transform:uppercase;
      color:#F2F2F2;
      letter-spacing:0;
}

@font-face{
	font-family: Techno Various;
	src:url(Stuff/TechnoVarious-Bold.woff);
}

@font-face{
      font-family: Yikes_medium;
      src:url(Stuff/Yikes_medium.ttf);
}


#Widget{
      position:absolute; top:0px; left:0px; width:375px; height:667px;
      font-size:375px;
}


#hello{
    position:absolute; top:70%; left:27%; width:50%; text-align:center; z-index:0;
   
}

#text{
      position:absolute; top:66.6%; left:37%; width:100%; text-align:left; z-index:50;
       font-size:15%; 
       font-family:Techno Various; 
       text-transform:lowercase;
       color:#feaa0c;
}

#Cal{
      position:absolute; top:80%; left:2%; width:100%; text-align:center; z-index:0; font-size:4%; letter-spacing:2;

}


#Weather{
       position:absolute; top:84%; left:2.5%; width:100%; text-align:center; z-index:50; font-size:4%; color:#707070;

}

#Line{
       position:absolute; top:88%; left:43.6%; width:18%; height:4%; z-index:-60;
       background-color:#feaa0c;
       box-shadow:0px 0px 0px rgba(0,0,0,0.15);
       border-radius: 10px;     
      
}

#Clock{
       position:absolute; top:88.5%; left:2.5%; width:100%; text-align:center; z-index:50; font-size:4%; color:#F2F2F2; 
}



