body {
	margin:0;
	padding:0;
	font-weight:100;
    text-transform:Capitalize;
	font-family: ModeG;
	color:#f3f3f3;
	letter-spacing:0;
   text-shadow:-2px 2px 2px #0e000f;
}

@font-face{
	font-family: ModeG;
	src:url(Stuff/ModeG.ttf);
}

@font-face{
	font-family: Monas;
	src:url(Stuff/Monas.ttf);
}

#Widget{
    position:absolute; top:0px; left:0px; width:375px; height:667px;
    font-size:375px;
}

#clock{
    position:absolute; top:19%; left:0%; width:100%; text-align:center; z-index:50;
    font-size:3.8%;
}

#weekday{
    position:absolute; top:3%; left:0%; width:100%; text-align:center; z-index:50;
    font-size:20.7%; letter-spacing:-2; font-family: Monas; text-shadow: -2px 2px 2px #0e000f
background: linear-gradient(to right, #3114a, #ac217a, #96368d);
   -webkit-background-clip: text!important;
   -webkit-text-fill-color: transparent!important;

}

#Cal{
    position:absolute; top:2%; left:0%; width:100%; text-align:center; z-index:50;
    font-size:3.8%;
}

